// Fonts
* {
    font-size: 15px;
    color: #444;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'dark-toggler.scss';
@import 'checkbox.scss';
@import 'confirm.scss';
@import 'tab.scss';
@import 'popup.scss';
@import 'custom.scss';
@import 'responsive.scss';

//Dark theme

// html.dark body{
//     background-color: #000;
// }
